.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.calculator {
  background-color: white;
  box-shadow: 0 0 10px black;
}
.calculator-display {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 15vh;
  text-align: right;
}

.calculator-display-eval {
  height: 60%;
  color: #696969;
  margin-top: 30px;
}

.calculator-display-current {
  height: 50%;
  font-size: 30px;
  color: #3a4958;
}

.button-area {
  display: grid;
  height: 60%;
  grid-template-columns: auto auto auto auto;
}

.button-area > button {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border: 0.001em solid #696969;
  background-color: #f3f3f3;
  color: #696969;
  width: 70px;
  height: 70px;
}

button:hover {
  background-color: #dcdcdc;
}

button:active {
  background-color: #c0c0c0;
}

#add,
#subtract,
#divide,
#multiply,
#back {
  background-color: #3a4958;
  color: #ffffff;
}

#equals {
  background-color: #dbbc15;
  color: #ffffff;
}

#clear {
  border-left: 0;
  background-color: #3a4958;
  color: #ffffff;
  border-right: 0;
}

#back :hover {
  background-color: red;
}
